{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Новый пароль</h1>
  <div class="card shadow-sm p-4">
    {% if validlink %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_new_password1" class="form-label">Новый пароль</label>
        <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
        <small class="form-text text-muted">
          Ваш пароль не должен быть слишком похож на другую вашу личную информацию.
        </small>
      </div>
      <div class="mb-3">
        <label for="id_new_password2" class="form-label">Подтверждение нового пароля</label>
        <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
        <small class="form-text text-muted">
          Введите пароль еще раз для подтверждения.
        </small>
      </div>
      <button type="submit" class="btn btn-primary">Изменить пароль</button>
    </form>
    {% else %}
    <p>Ссылка для сброса пароля недействительна, возможно, она уже была использована. Попробуйте запросить сброс снова.</p>
    <a href="{% url 'password_reset' %}" class="btn btn-primary">Запросить новую ссылку</a>
    {% endif %}
  </div>
</div>
{% endblock %}