{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Сброс пароля</h1>
  <div class="card shadow-sm p-4">
    <p>Введите ваш email, и мы вышлем вам инструкции для сброса пароля.</p>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required id="id_email">
      </div>
      <button type="submit" class="btn btn-primary">Сбросить пароль</button>
    </form>
  </div>
</div>
{% endblock %}